*.zip                                                                                                                                                                                               
__pycache__/                            
data/                                                                                                                                                                                               
checkpoints_vanilla/                                                                                                                                                                                
results/checkpoints_vanilla/
18786_S2026_HW5.pdf  